<nav aria-label="Primary" style="display: block; width: 100%; margin: 16px 0; padding: 8px 0; clear: both;">
    <a href="/" style="display: inline-block; margin-right: 16px;">Beans</a>
    <a href="/BeanOfTheDay" style="display: inline-block; margin-right: 16px;">Bean of the Day</a>
    <a href="/Order" style="display: inline-block;">Order</a>
</nav>