@page
@model Microsoft.AspNetCore.Diagnostics.ExceptionHandlerFeature
@{
    ViewData["Title"]  =  "Error";
}

<link rel = "stylesheet" href = "/css/site.css" />

<section class = "card p-16">

     <partial name="_Nav" />

    <h1 class = "h1">Something went wrong - 404 Error - We were unable to reach the page</h1>
</section>

